####################################
###### Main dev dependencies #######
####################################

# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy==0.971
types-PyYAML
types-setuptools
types-pytz

# Automatic code formatting
black==22.8.0
isort==5.10.1

# Running tests
pytest
pytest-sphinx

# Flaky tests
flaky

# Allows generation of coverage reports with pytest.
pytest-cov

# Allows codecov to generate coverage reports
coverage
codecov

# Needed for packaging and uploading to PyPi
twine>=1.11.0
setuptools
wheel

# Building docs
Sphinx==5.2.1

# Sphinx theme: https://sphinx-themes.org/sample-sites/furo/
furo==2022.6.21

# Lets Sphinx parse markdown files in addition to rst.
myst-parser==0.18.0

# Adds a copy button to code examples in the docs.
sphinx-copybutton==0.5.0

# Live rebuilding and reloading of docs for developing locally.
sphinx-autobuild==2021.3.14

# Automatically adds types to docs
sphinx-autodoc-typehints

# For working with version numbers.
packaging

##################################################
###### Extra dev dependencies for examples #######
##################################################
torchmetrics>=0.7.0  # needed by: examples
